// Файл обнуляющих стилей
@import "nullstyle.scss";

body {
   font-family: Inter;
   color: #fff;
   background-color: #1a1a1a;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   position: relative;
   display: flex;
   align-items: center;
}

a {
   color: inherit;
}
._ibg {
   position: relative;
}
._ibg img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/*--------TITLE---------------*/
.title {
   font-weight: 600;
   font-size: 30px;
   line-height: 83%;
   opacity: 0.9;
   @media (max-width: 800px) {
      font-size: 25px;
   }
}

/*--------TEXT---------------*/
.text {
   font-weight: 500;
   font-size: 15px;
   line-height: 167%;
   color: #ffffff;
   opacity: 0.8;
   @media (max-width: 680px) {
      font-size: 12px;
   }
}

/*---------PAGE------------------*/
.page {
   margin: 0 auto;
   &__container {
      max-width: 1680px;
      padding: 50px 100px;
      margin: 0 auto;
      @media (max-width: 1440px) {
         padding: 50px;
      }
      @media (max-width: 768px) {
         padding: 30px 20px 20px;
      }
   }
   &__column {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   &__section {
      flex: 0 1 31.3%;
      &:first-child {
         @media (max-width: 1400px) {
            flex: 0 1 45%;
         }
         @media (max-width: 1200px) {
            flex: 0 1 47%;
         }
         @media (max-width: 680px) {
            flex: 0 1 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
         }
      }
      &:nth-child(2) {
         @media (max-width: 1400px) {
            order: 3;
            flex: 0 1 100%;
         }
         @media (max-width: 680px) {
            padding: 0px 0px 0px 0px;
         }
      }
      &:last-child {
         @media (max-width: 1400px) {
            flex: 0 1 45%;
         }
         @media (max-width: 1200px) {
            flex: 0 1 47%;
         }
         @media (max-width: 680px) {
            flex: 0 1 100%;
         }
         display: flex;
         align-items: flex-end;
         position: relative;
         padding: 83px 50px;
         @media (max-width: 1400px) {
            padding: 50px;
         }
         @media (max-width: 800px) {
            padding: 30px;
         }
      }
   }
}

/*---------SECTION MAIN-INFO------------------*/
.main-info {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   &__head {
      font-weight: 600;
      font-size: 75px;
      line-height: 100%;
      margin: 40px 0px 65px 0px;
      @media (max-width: 1500px) {
         font-size: 65px;
      }
      @media (max-width: 1200px) {
         margin: 30px 0px 40px 0px;
      }
      @media (max-width: 800px) {
         margin: 15px 0px 30px 0px;
         font-size: 45px;
      }
      @media (max-width: 680px) {
         flex: 1 1 100%;
      }
      @media (max-width: 640px) {
         margin: 0px 0px 45px 0px;
      }
      @media (max-width: 425px) {
         margin: 0px 0px 30px 0px;
         font-size: 35px;
      }
   }
   &__title {
      font-weight: 600;
      font-size: 30px;
      line-height: 83%;
      opacity: 0.9;
      margin: 17px 0px 0px 0px;
   }
   &__bottom {
      @media (max-width: 680px) {
         margin: 0px 0px 30px 0px;
      }
   }
}

/*-----BOX in MAIN-INFO---------------*/
.box {
   flex: 1 1 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   @media (max-width: 680px) {
      flex: 0 1 49%;
      justify-content: flex-start;
   }
   @media (max-width: 560px) {
      flex: 1 1 100%;
   }
   &__item {
      flex: 0 1 44.5%;
      margin: 0px 0px 28px 0px;
      font-weight: 500;
      font-size: 15px;
      line-height: 167%;
      @media (max-width: 680px) {
         font-size: 12px;
         margin: 0px 0px 18px 0px;
         flex: 0 1 50%;
      }
      @media (max-width: 560px) {
         justify-content: center;
      }
   }
   &__text-gr {
      opacity: 0.6;
      margin: 7px 0px 0px 0px;
   }
   &__text-wh {
      opacity: 1;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }
}

/*------------SECTION CONTENT-----------------*/
.content {
   width: 100%;
   padding: 47px 0px 0px 0px;
   &__title {
      margin: 0px 0px 15px 0px;
   }
   &__block {
      &:not(:last-child) {
         margin: 0px 0px 40px 0px;
         @media (max-width: 768px) {
            margin: 0px 0px 25px 0px;
         }
      }
   }
   &__list {
      padding: 0px 0px 0px 20px;
      li {
         &:not(:last-child) {
            margin: 0px 0px 10px 0px;
         }
      }
   }
   @media (max-width: 768px) {
      padding: 35px 0px 0px 0px;
   }
}

/*------------SECTION PICTURE-------------------*/
.picture {
   width: 100%;
   &__notice {
      font-weight: 600;
      font-size: 30px;
      line-height: 116.6%;
      @media (max-width: 1000px) {
         font-size: 25px;
      }
      @media (max-width: 680px) {
         padding: 400px 0 0 0;
      }
      @media (max-width: 425px) {
         padding: 200px 0 0 0;
         font-size: 15px;
      }
   }
   &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      img {
         border-radius: 7px;
         object-position: top;
         @media (max-width: 1400px) {
            object-position: center -50px;
         }
         @media (max-width: 1100px) {
            object-position: top;
         }
         @media (max-width: 680px) {
            object-position: center -50px;
         }
      }
   }
}
